body {
  text-align: center;
  line-height: 1.6;
}
table { 
  margin-top: 40px;
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  line-height: 1.6;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Comic Sans MS', cursive;
}
table tr:nth-child(even) { 
  background-color: #f2f2f2;
}
th {
  background-color: #333;
  color: white;
  padding: 12px;
}
td {
  padding: 12px 16px;
}
form { 
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: 'Arial', sans-serif;
}
h1 { 
  margin-top: 20px;
  background-color: black; 
  color: white;  
  padding: 60px;    
  font-family: 'monospace', monospace;
  font-size: 40px;
  letter-spacing: 0.5px;
}
.container {
  max-width: 800px;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
}


